@import '../../styles/variables';

.fuzzy-search-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  input {
    height: 3.875em;
    border-radius: 2px;
    border: none;
    margin-top: .5em;
    padding: .5em;
    font-size: 1em;
    width: 80%;
    min-width: 300px;

    @media screen and (min-width: $screen-sm) {
      margin-top: 1em;
    }
  }
}
