@import '../../styles/mixins';

.modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 80%;
    background-color: #fff;
    color: #000;
    overflow: scroll;
    padding: 1em;

    button {
      @include cross(#000, 15px, 3px, relative);
      border: none;
    }
  }
}
