li {
  list-style: none;
  display: inline-block;

  button {
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 1.2em;
    margin: 1em 1em 0;
    padding: 1em 1.2em;
    background: transparent;
  }
}
